@media(max-width:1099px){

}

@media(max-width:999px){
    #men-sessions{
        flex-direction: column;
        height: auto;
    }
    .men-ss-img img{
        width: 100%;
        margin-bottom: 0px;
    }
    .right-side-one{
        margin: -5px;
    }
    #men-sessions .content-box{
        padding: 20px 15px;
        height: auto;
     }
     .men-ss-img{
         height: auto;
     }
     .gy-body{
        flex-direction: column;
    }
    .gy-right img{
        width: 450px;
        height: 450px;
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 60px;
    }
   .gy-right{
        text-align: center;
    }
    .gy-left{
        margin-left: 30px;
    }
    .gy-left h2{
        font-size: 25px;
    }
}
@media(max-width:800px){
    nav label{
        display: flex;
    }
    .nav-menu ul li{
        display: none;
      }
      #toggle:checked + .nav-menu ul li{  
          display: flex;
          flex-direction: column;
      }
      nav{
          flex-direction: column;
      }
      .nav-menu{
          order: 1;
          padding-left: 0px;
          border-top: 2px solid greenyellow;
          padding-top: 20px;
      }
      nav .search-bar{
          width: 100%;
          background-color: #2D3E50;
          border-top: 2px solid white;
          padding: 15px 0px;
          justify-content: center;
          display: flex;
     } 
     .fa-search{
        color: white;
        position: absolute;
        margin-top: 13px;
        margin-left: 30%;
    }
     nav .search-bar input[type=text]{
         height: 25px;
         width: 60%;
         border-top: none;
         border-right: none;
         border-left: none;
         background-color: #2D3E50;
         color: white;
         font-size: 20px;
         position: relative;
     }
     .nav-menu ul{
         display: flex;
         flex-direction: column;
     }
     .nav-menu ul{
         position: static;
     }
     .nav-menu a{
         display: flex;
         justify-content: start;
         padding-left: 20px;
     }
     .submenu-one a,.submenu-two a,.submenu-three a{
         padding-left: 50px;
     }
     .submenu-one-one a,.submenu-one-two a{
        padding-left: 80px;
     }
     #home{
         background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('../asset/img/home-img.jpg');
         align-items: center;
      }
     .home-content{
        flex-basis: 90%;
        margin: 0 auto;
    }
     .home-content h1{
         font-size: 30px;
         color: white;
         text-align: center;
     }
     .home-content p{
        color: greenyellow;
        font-size: 17px;
        text-align: center;
     }
     .home-content .home-btn{
         margin: 0 auto;
     }
     .nav-menu li:nth-child(n){
        border: none;
     }
     .submenu-one-one i,.submenu-one-two i,.submenu-two i,.submenu-three i{
        display: flex;
        padding-right: 8px;
    }
    .home-men-content p{
        display: none;
    }
    .pop-menu{
        left: 0px;
        top:0%;
        background-color: white;
        width: 100%;
    }
    .pop-menu input[type=text],select,textarea{
        border: 1px solid black;
    }
    #facility{
        flex-direction: column;
    }
    .facility-box{
        margin-left: 20px;
    }
}
@media(max-width:768px){
    .upper-header{
        flex-direction: column;
        padding: 5px 20px;
    }
    .middle-head{
        flex-direction: column;
    }
    .mh-two p,.mh-three p,.mh-four button{
        margin-bottom: 10px;
    }
}
@media(max-width:411px){
    .mh-two p,.mh-three p,.mh-four button,.uh-left-side p{
        font-size: 13px;
    }
    .home-content h1{
        font-size: 19px;
    }
    .home-content p{
       font-size: 13px;
    }
}

