@media(max-width:800px){
    nav label{
        display: flex;
    }
    .nav-menu ul li{
        display: none;
      }
      #toggle:checked + .nav-menu ul li{  
          display: flex;
          flex-direction: column;
      }
      nav{
          flex-direction: column;
      }
      .nav-menu{
          order: 1;
          padding-left: 0px;
          border-top: 2px solid greenyellow;
          padding-top: 20px;
      }
      nav .search-bar{
          width: 100%;
          background-color: #2D3E50;
          border-top: 2px solid white;
          padding: 15px 0px;
          justify-content: center;
          display: flex;
     } 
     .fa-search{
        color: white;
        position: absolute;
        margin-top: 13px;
        margin-left: 30%;
    }
     nav .search-bar input[type=text]{
         height: 25px;
         width: 60%;
         border-top: none;
         border-right: none;
         border-left: none;
         background-color: #2D3E50;
         color: white;
         font-size: 20px;
         position: relative;
     }
     .nav-menu ul{
         display: flex;
         flex-direction: column;
     }
     .nav-menu ul{
         position: static;
     }
     .nav-menu a{
         display: flex;
         justify-content: start;
         padding-left: 20px;
     }
     .submenu-one a,.submenu-two a,.submenu-three a{
         padding-left: 50px;
     }
     .submenu-one-one a,.submenu-one-two a{
        padding-left: 80px;
     }
     .home-content label .home-btn{
         display: none;
     }
     #home{
         background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../asset/img/home-img.jpg');
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     .home-content h1{
         font-size: 22px;
         color: white;
     }
     .home-content p{
        color: greenyellow;
        font-size: 15px;
     }

}
@media(max-width:768px){
    .upper-header{
        flex-direction: column;
        padding: 5px 20px;
    }
    .middle-head{
        flex-direction: column;
    }
    .mh-two p,.mh-three p,.mh-four button{
        margin-bottom: 10px;
    }
}
@media(max-width:411px){
    .mh-two p,.mh-three p,.mh-four button,.uh-left-side p{
        font-size: 13px;
    }
    .home-content h1{
        font-size: 19px;
    }
    .home-content p{
       font-size: 13px;
    }
}

