*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.upper-header{
   width: 100%;
   height: auto;
   background-color: #FAFAFA;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid black;
}
.uh-left-side{
    padding: 0px 40px;
    font-weight: bold;
}
.uh-right-side{
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px;
}
.uh-right-side i{
    width: 30px;
    height: 30px;
    background-color: rgb(241, 230, 226);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-top: 9px;
    margin-right: 5px;
    margin-bottom: 9px;
    color: rgb(235, 97, 51);
}
.uh-right-side i:hover{
    background-color: rgb(235, 97, 51);
    color: white;
}
.middle-head{
    width: 100%;
    height: auto;
    background-color: #f2f7f8;
    display: flex;
    justify-items: center;
    align-items: center;
    color: rgb(82, 79, 79);
}
#logo{
    padding: 20px 40px;
    cursor: pointer;
    animation: heartbeat 0.8s linear infinite;
}
#logo img{
    width: 50px;
    margin-left: 25px;
}
#logo h1{
    font-size: 25px;
    color:rgb(235, 97, 51);
    font-family: 'Geo', sans-serif;
}
@keyframes heartbeat{
    50%{transform: scale(0.9,0.9)}
}
.mh-two{
  display: flex;
  flex: 6;
}
.mh-two p{
  margin-left: 10px;
  margin-right: 15px;
}
.mh-three{
    display: flex;
    flex: 3.6;
}
.mh-three p{
   margin-left: 30px;
   margin-right: 12px;
}
.mh-four{
    display: flex;
    flex: 1.3;
}
.mh-four p{
    font-size: 23px;
}
.middle-head i{
  color:rgb(235, 97, 51);
}
.mh-four button{
    width: 80px;
    height: 40px;
    background-color: rgb(251, 64, 2);
    border: none;
    color: whitesmoke;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    cursor: pointer;
}
.mh-four button h1{
    font-size: 17px;
    animation: heartbeat 0.8s linear infinite;
}
.nav-bar{
    display: flex;
    height: 50px;
}
.nav-bar .nav-menu{
    flex: 6;
}
.nav-bar .search-bar{
    flex: 1.3;
    background-color: #2D3E50;
}
.nav-bar .nav-menu a{
    background-color: #2D3E50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    text-align: center;
}
.nav-bar .nav-menu ul{
    display: flex;
    list-style-type: none;
}
.nav-bar .nav-menu li{
    width: 100%;
    position: relative;
}
.nav-bar .nav-menu li:hover .submenu > li{
    display: block;
}
.submenu li{
    position: absolute;
    display: none;
    border: 1px solid white;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.submenu li{
    position: relative;
}
.submenu li:hover .submenu-1 > li{
    display: block;
}
.submenu-1 li{
    position: absolute;
}
.submenu-1{
    display: flex;
    left: 100%;
    position: absolute;
    top:10px;
    width: 150%;
}
